{% extends "dl_user/base.html" %}
{% block bootstrap3_title %}Reset Password{% endblock %}
{% block content %}
        <h2>Password Reset for {{ settings.IDP_NAME }}</h2>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger">
        <b>{{ form.errors|length}}</b> error{{ form.errors|length|pluralize:" was,s were" }} found! Please fix.
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="row">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>
{% endblock %}
