<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ idp_name }}: {% block title %}Welcome! User Registration{% endblock %}</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <style type="text/css">
        .invalid-feedback {
         color: red;
         }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img width="200" src="{{IDP_LOGO}}" alt="{{IDP_NAME}}" />
        </div>
        <div class="col-md-10">
            <h1>{{ IDP_NAME }} User Support</h1>
        </div>
    </div>
    {% block wrapper %}
    <h1>Index</h1>
    <a href="{% url 'user:register' %}" class="btn btn-success btn-lg" role="button">Register</a>
    <a href="{% url 'user:password_reset' %}" class="btn btn-warning btn-lg" role="button">Forgot Password</a>
    {% endblock %}
</div>
</body>
</html>
