{% extends "user/index.html" %}
{% block title %}Reset Password{% endblock %}
{% block wrapper %}
<div class="col-md-6">
    <div class="row">
        <h2>Password Reset {{ idp_name }}</h2>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger">
        <b>{{ form.errors|length}}</b> error{{ form.errors|length|pluralize:" was,s were" }} found! Please fix.
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="row">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>
{% endblock %}